html,
body {
    margin: 0;
    background-color: #000;
}

/* Homepage */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/homebackground.jpg);
    min-height: 100%;
    position: fixed;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link {
    color: #c0392b;
    font-family: 'Righteous', cursive;
}

.bandName {
    font-size: 4em;
    margin-left: 10%;
    margin-right: 80%;
    padding-top: 20px;
    color: #c0392b;
    font-family: 'Righteous', cursive;
}

/* About page */

#bandMemb {
    color: #c0392b;
    font-family: 'Righteous', cursive;
    margin-top: 50px;
    font-size: 250%;
}

.mr-3 {
    height: auto;
    width: 20%;
}

h1 {
    text-align: center;
}

.mt-0 {
    color: #fff;
    font-family: 'Righteous', cursive;
}

.media-body {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.list-unstyled {
    margin: 35px 0px;
}

#bioBack {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/audioslave5.jpg);
    color: #fff;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* music page */

#musicBody {
    background-image: url(../img/bioback.jpeg);
    background-attachment: fixed;
    width: 100%;
}

.spotify {
    margin: auto;
    width: 50%;
}

.card-body {
    text-align: center;
}

.card {
    margin: 10px;
}

.albumCards {
    margin-top: 10%;
}

iframe {
    width: 90%;
    height: 100%;
    margin-bottom: 50px;
}

/* tour page */

h2 {
    text-align: center;
    padding: 25px 0px 25px 0px;
    color: whitesmoke;
}

#tourNav {
    position: absolute;
    left: 0;
    width: 100%;
}

#myBtn {
    width: 100px;
    font-size: 12px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

/* Video background styling */

#liveFootage {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: -1;
}

/* Add some content at the bottom of the video/page */

.content {
    position: fixed;
    top: 10%;
    right: 15%;
    background: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    width: 70%;
    padding: 40px;
    text-align: center;
}

/* responsive queries */

/*homepage*/

@media only screen and (max-width: 620px) {
    .bandName {
        font-size: 3em;
    }
}

@media only screen and (max-width: 480px) {
    .bandName {
        font-size: 2em;
    }
}